<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <!-- CSS ... -->
    <link rel="stylesheet" href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css">

    <title>My Todos</title>
  </head>
  <body>
    <div class="container">
      <h1>My Todos</h1>

      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th scope="col" class="fit">Id</th>
            <th scope="col" >Title</th>
            <th scope="col" class="fit">Priority</th>
            <th scope="col" class="fit">Completed</th>
          </tr>
        </thead>
      </table>
    </div>
  </body>
</html>